@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

h3 {
  color: white;
  font-size: 17px;
}
html { 
  background: url("https://i.imgur.com/7lntYD8.jpg") no-repeat center center fixed; 
  background-size: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 250px;
  background-color: rgba(172, 255, 47, 0.822);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ability-desc {
  text-align: left;
  font-size: 11px;
  color: gainsboro;
}

#main-title {
  width: 72%;
  text-align: center;
  margin: 0 auto 0 auto;
}

#main-start-button {
  margin-top: -120px;
}

#title-screen {
  width: 100%;
  object-fit: cover;
}

.start-button {
  width: 120px;
  height: 30px;
  position:relative;
  border-radius: 5px;
  font-family: 'Press Start 2P';
  margin-top: 5px;
  font-size: 110%;
}

#world-map{
  z-index: 0;
}

#instructions  {
  width: 100%;
  text-align: center;
}

#intro-start-button {
  margin-top: -50px;
}

#button-container{
  width: 800px;
  height: 400px;
  margin: 0 auto 0 auto;
  background-color:rgba(255, 255, 255, 0);
  z-index: 5;
}

#zombie-total {
  font-size: x-small;
}

.city-button {
  -webkit-transition-duration: 0.3s; 
  transition-duration: 0.3s;
  background-color: rgba(158, 158, 158, 0.822);
  border:none;  
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 0;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  border: 1px;
}

.city-button:hover {
  background-color: rgb(36, 41, 36); /* Green */
}
.activated {
  background-color: rgba(8, 201, 1, 0.836);
}
.defeated {
  background-color: rgba(105, 17, 17, 0.959);
}

.city-button:focus {
  outline: none; 
}
.city-button-active:hover {
  background-color: rgb(5, 136, 0); /* Green */
}

.city-button-active:focus {
  background-color: rgb(0, 0, 0); /* Green */
  outline: none; 
}

#stats {
  border: none;
  background-color: rgba(0, 0, 0, 0)
}
