@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 250px;
}

#main-title {
  font-size: 250%;
}

#start-button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-family: 'Press Start 2P';
  margin-top: 80px;
  font-size: 110%;
}

#world-map{
  z-index: 0;
}
#button-container{
  width: 800px;
  height: 400px;
  margin: 0 auto 0 auto;
  background-color:rgba(255, 255, 255, 0.15);
  z-index: 1;
}

#london {
  position: relative;
  top: -293px;
  left: 369px;
}
#paris {
  position: relative;
  top: -283px;
  left: 365px;
}
#rome {
  position: relative;
  top: -264px;
  left: 369px;
}
#oslo {
  position: relative;
  top: -338px;
  left: 353px;
}
#reykjavik {
  position: relative;
  top: -345px;
  left: 265px;
}
#new-york {
  position: relative;
  top: -260px;
  left: 135px;
}
#madrid {
  position: relative;
  top: -258px;
  left: 265px;
}
#marrakech {
  position: relative;
  top: -225px;
  left: 245px;
}
#cairo {
  position: relative;
  top: -225px;
  left: 315px;
}
#nairobi {
  position: relative;
  top: -155px;
  left: 315px;
}
#istanbul {
  position: relative;
  top: -260px;
  left: 280px;
}
#dubai {
  position: relative;
  top: -214px;
  left: 325px;
}
#cape-town {
  position: relative;
  top: -85px;
  left: 235px;
}
#los-angeles {
  position: relative;
  top: -280px;
  left: -95px;
}
#mexico-city {
  position: relative;
  top: -205px;
  left: -55px;
}
#bogota {}
#rio-de-janeiro {}
#tehran {}
#new-dehli {}
#bangkok {}
#shanghai {}
#tokyo {}
#hong-kong {}
#melbourne {}
#wellington {}