@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 250px;
}

#main-title {
  font-size: 250%;
}

#start-button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-family: 'Press Start 2P';
  margin-top: 80px;
  font-size: 110%;
}