canvas {
border: solid 1px black;
position:absolute;
}

#canvas {
  position: absolute;
  z-index:1;
}

#underCanvas {
  position: absolute;
  z-index:0;
}

#holder {
display:block;
border: solid 2px black;
position:relative;
background:transparent;
margin: 0 auto 0 auto;
width:800px;
height:600px;
}
