@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

body {
  background-color: black;
  font-family: 'Press Start 2P';
}

h1 {
  color: white;
  text-align: center;
}

#map-title {
  font-size: medium;
}

p {
  color: white;
  text-align: center;
}

#time {
  color: gainsboro;
  text-align: center;
}

.world-map {
  background-color: rgb(41, 173, 36);
  width: 800px;
  height: 560px;
}

.grid {
  width: 800px;
  margin: 0 auto 0 auto;
}

.clickable {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(247, 173, 0);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.unclickable {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(142, 8, 8);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.infected {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(9, 255, 0);
  outline-style: solid;
  outline-width: 1px;
}

.sea {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0);
  /* outline-style: solid;
  outline-width: 1px;
  outline-color: rgb(70, 70, 70); */
}

.north-america {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(143, 23, 59);
  outline-style: solid;
  outline-width: 1px;
}

.south-america {
  float: left;
  width: 5px;
  height: 5px;
  background-color: #8E0C66;
  outline-style: solid;
  outline-width: 1px;
}

.europe {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(158, 77, 165);
  outline-style: solid;
  outline-width: 1px;
}

.africa {
  float: left;
  width: 5px;
  height: 5px;
  background-color: #72156E;
  outline-style: solid;
  outline-width: 1px;
}

.asia {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(88, 32, 139);
  outline-style: solid;
  outline-width: 1px;
}

.oceana {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(91, 21, 182);
  outline-style: solid;
  outline-width: 1px;
}

.middle-east {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(187, 94, 178);
  outline-style: solid;
  outline-width: 1px;
}

.city-button {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  background-color: rgba(158, 158, 158, 0.822);
  border:none;  
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 0;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  border: 1px;
}

.city-button:hover {
  background-color: rgba(153, 3, 3, 0.877); /* Green */
}

.city-button:focus {
  background-color: red; /* Green */
}

#loading-screen {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: black;
}

#world-population-stats {
  font-size: x-small;
}