@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

body {
  background-color: black;
  font-family: 'Press Start 2P';
}

h1 {
  color: white;
  text-align: center;
}

#map-title {
  font-size: medium;
}

p {
  color: white;
  text-align: center;
}

#time {
  color: gainsboro;
  text-align: center;
}

.world-map {
  background-color: rgb(41, 173, 36);
  width: 800px;
  height: 560px;
 
}

.grid {
  width: 800px;
  margin: 0 auto 0 auto;
}

.clickable {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(247, 173, 0);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.unclickable {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(142, 8, 8);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.infected {
  float: left;
  width: 5px;
  height: 5px;
  background-color: orangered;
  transition: background-color 1s ease;
  outline-style: solid;
  outline-width: 1px;
}

.sea {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0);
  /* outline-style: solid;
  outline-width: 1px;
  outline-color: rgb(70, 70, 70); */
}

.north-america {
  float: left;
  width: 5px;
  height: 5px;
  background-color: dodgerblue;
  outline-style: solid;
  outline-width: 1px;
}

.south-america {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(161, 185, 209);
  outline-style: solid;
  outline-width: 1px;
}

.europe {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(140, 219, 255);
  outline-style: solid;
  outline-width: 1px;
}

.africa {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(11, 88, 165);
  outline-style: solid;
  outline-width: 1px;
}

.asia {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(80, 134, 189);
  outline-style: solid;
  outline-width: 1px;
}

.oceana {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(88, 95, 155);
  outline-style: solid;
  outline-width: 1px;
}

.middle-east {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(141, 171, 184);
  outline-style: solid;
  outline-width: 1px;
}

.city-button {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  background-color: rgba(240, 236, 30, 0.926);
  border:none;  
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 0;
}

.city-button:hover {
  background-color: rgba(153, 3, 3, 0.877); /* Green */
}

.city-button:focus {
  background-color: red; /* Green */
}

#loading-screen {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: black;
}

#world-population-stats {
  font-size: x-small;
}