.world-map {
  background-color: aquamarine;
  width: 800px;
  height: 560px;
}

.grid {
  width: 800px;
}

.clickable {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(247, 78, 0);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.unclickable {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(10, 10, 10);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.sea {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(80, 178, 235)
}

.north-america {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(200, 241, 14);
  outline-style: solid;
  outline-width: 1px;
}

.south-america {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(57, 19, 224);
  outline-style: solid;
  outline-width: 1px;
}

.europe {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(185, 42, 166);
  outline-style: solid;
  outline-width: 1px;
}

.africa {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(204, 4, 54);
  outline-style: solid;
  outline-width: 1px;
}

.asia {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 152, 8);
  outline-style: solid;
  outline-width: 1px;
}

.oceana {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(10, 22, 128);
  outline-style: solid;
  outline-width: 1px;
}

.middle-east {
  float: left;
  width: 5px;
  height: 5px;
  background-color: rgb(50, 59, 63);
  outline-style: solid;
  outline-width: 1px;
}

