.world-map {
  background-color: aquamarine;
  width: 800px;
  height: 560px;
}

.cell {
  float: left;
  width: 16px;
  height: 16px;
  background-color: gainsboro;
  outline-style: solid;
  outline-width: 1px;
}

.cell-alt {
  float: left;
  width: 16px;
  height: 16px;
  background-color: white;
}

.grid {
  width: 800px;
}

.clickable {
  float: left;
  width: 16px;
  height: 16px;
  background-color: rgb(247, 78, 0);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.unclickable {
  float: left;
  width: 16px;
  height: 16px;
  background-color: rgb(10, 10, 10);
  font-size: 0%;
  outline-style: solid;
  outline-width: 1px;
}

.infected {
  float: left;
  width: 16px;
  height: 16px;
  background-color: greenyellow;
  outline-style: solid;
  outline-width: 1px;
}